[Unit]
Description=Car Scanner
After=network.target bluetooth.target

[Service]
ExecStart=/usr/bin/bash /home/david/car_scanner/car_scanner.sh
Type=simple
Restart=always
WorkingDirectory=/home/david/car_scanner
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target