[Unit]
Description=Car Scanner
After=network.target bluetooth.target


[Service]
ExecStart=/usr/bin/python3 /home/david/car_scanner/car_scanner.py
Type=simple
Restart=always
WorkingDirectory=/home/david/car_scanner
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target